# requirements.txt

# Dependencias principales del proyecto
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
passlib[argon2]
python-jose[cryptography]
alembic
pydantic
pydantic-settings
python-dotenv
email-validator
python-multipart
fastapi-limiter
redis

# Dependencias para desarrollo y testing (puedes moverlas a un requirements-dev.txt si lo prefieres)
pytest
pytest-asyncio
pytest-cov
httpx
